<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Sorry for the Inconvenience!</h1>
    <p>We're working on this, please try again later!</p>

<%- include('includes/end.ejs') %>